<% layout('layouts/boilerplate')%>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% for(product of products){ %>
        <div class="col">
          <div class="card h-100">
            <img src="<%= product.imagePath%>" class="card-img-top" alt="/images/earring-butterfly.jpg">
            <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text"><%= product.description %></p>
            </div>
            <div class="card-footer bg-white">
                <p class="card-text col-sm-5 mx-2 d-inline-block d-4"><%= product.price %> </p>
                <a href="/show/<%=product._id%>" class="btn btn-success col-sm-5 mx-2">Buy</a>
            </div>
          </div>
        </div>
    <% } %> 
</div>
